.other{
    flex: 1.2;
    background-color: rgb(245, 245, 245);
    overflow: hidden;
}

.notify{
    font-size: 13px;
    font-weight: bolder;
    padding: 15px;
}


@media  screen and  (max-width: 600px){
    .other{
        flex: 0;
        display: none;
    }
}