.topbar{
    width: 900px;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
   
}

.topbarWrapper{
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-weight: bold;
    font-size: 30px;
    color: darkblue;
    cursor: pointer;
}
.topRight{
    display: flex;
    align-items: center;
}
.search{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 15px;
    color: blue;
}
.searchicon{
    display: flex;
    position: absolute;

}
.search-form {
    margin-right: 5px;
    padding-left: 15px;
    border-radius: 5px;
  }
  .topavatar{
      height: 40px;
      width: 40px;
      border-radius: 50%;
      cursor: pointer;
  }
  .link-form{
      text-decoration: none;
      color: rgb(196, 191, 191);
      padding: 5px;
  }

  @media  screen and  (max-width: 600px){
      .topbar{
          width: 500px;
      }
      .logo{
          font-size: 20px;
      }
      .search-form{
          display: hide;
          width: 2px;
      }
      .search{
          color: red;
      }
      .link-form{
          font-size: 10px;
      }
  }