.contain{
    display: flex;
    margin: 0px;
    padding: 0px;
    
}
.shadow{
    width: 1000px;
    height: 100%;
    border-radius: 5px;
    box-shadow: 5px 5px 4px 6px gray;
    margin-left: 250px;
    margin-top: 5px;
    overflow-y: hidden;
}
@media  screen and  (max-width: 600px){
    .contain{
        width: 500px;
        display: flex;
    }
}